html{
    position: relative;
    min-height: 100%;
}
body{
    background: #f8f8f8;
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 25px;
}
h1{
    font-family: "Virtual DJ Regular",Tahoma;
    font-size: 36px;
}
h2{
    color:gray;
    font-size: 20px;
    font-family: "Virtual DJ Regular",Tahoma;
}
h3{
    color: #5d2b90;
    font-size: 16px;
    font-family: "Virtual DJ Regular",Tahoma;
}
P{
    line-height: 1.5;
    font-family: "Segoe UI";
}
.footer{
    background-color: #5d2b90;
    height: 60px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #FFFFFF;
    text-align: center;
    
}
button{
    background-color: #5d2b90;
    color: #FFFFFF;
    font-family: "Virtual DJ Regular",Tahoma;
    border-style: solid;
    border: 1;
    border-color: #FFFFFF;
    width: 95px;
    height: 25px;
}
button:hover{
    transform:scale(1.2); /*Aumentando o tamanho do botão quando o cursor apontar pra ele*/
}
div{
    font-size: 10px;
    font-family: Tahoma;
}